@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:500,600&display=swap");

$font-stack: "Roboto Slab", serif;
$primary-font-weight: 500;
$secondaryfont-weight: 600;
$primary-color: #233d89;
$secondary-color: #6d9eeb;
$tan-color: #f8f1c9;
$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 300px;
$max-width: 1100px;
