@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  color: $primary-color;
  background: $tan-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.section-top {
  margin-top: 4rem;
}

.section-title {
  color: $primary-color;
  @include set-font-style-titles;
  max-width: 80%;
  margin: auto;
  padding: 2em 0;

  .new-line {
    display: block;
  }
}

/* Utilities */
.container {
  max-width: $max-width;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

/*********************************** 
NAV
***********************************/
.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  padding: 0.3em;
  background: rgba($secondary-color, 0.7);
  @media only screen and (min-width: $tablet) {
    top: 0;
    height: 2.5em;
  }

  &__logo-link {
    display: flex;
    width: 30px;
  }

  .nav__list {
    display: flex;
    align-items: center;

    .nav__item + .nav__item {
      margin-left: 0.625em;
    }

    .nav__link {
      color: $tan-color;

      .nav__content {
        display: none;
        @media only screen and (min-width: $tablet) {
          display: inline;
        }
      }

      .nav__icon {
        @media only screen and (min-width: $tablet) {
          display: none;
        }
        font-size: 0.9em;

        .icon-background {
          color: $tan-color;
        }

        .icon-link {
          color: $primary-color;
        }
      }
    }
  }
}

/*********************************** 
SHOWCASE SECTION
***********************************/
.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include set-font-style-titles;
  padding: 0 20px;
  color: var(--tan-color);

  &__content {
    z-index: 1;

    &--title {
      color: $tan-color;

      &-large {
        font-size: 4em;
      }
    }

    &--subtitle {
      color: $secondary-color;
    }

    &--btn {
      display: inline-block;
      margin-top: 2em;
    }
  }

  &__video-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--tan-color);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
  }

  &__video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*********************************** 
MORE SECTION
***********************************/
.more {
  height: 700px;
  padding-bottom: 3rem;
  background: linear-gradient(
      rgba(256, 256, 256, 0.4),
      rgba(256, 256, 256, 0.4)
    ),
    url(../img/mobile-beach-trail.jpg);
  @media only screen and (min-width: $mobile-large) {
    background: linear-gradient(
        rgba(256, 256, 256, 0.4),
        rgba(256, 256, 256, 0.4)
      ),
      url(../img/mobile-large-beach-trail.jpg);
  }
  @media only screen and (min-width: $tablet) {
    background: linear-gradient(
        rgba(256, 256, 256, 0.4),
        rgba(256, 256, 256, 0.4)
      ),
      url(../img/beach-trail.jpg);
  }
  @media only screen and (min-width: $desktop) {
    background: linear-gradient(
        rgba(256, 256, 256, 0.4),
        rgba(256, 256, 256, 0.4)
      ),
      url(../img/deskop-beach-trail.jpg);
  }
  @media only screen and (min-width: $desktop-large) {
    background: linear-gradient(
        rgba(256, 256, 256, 0.4),
        rgba(256, 256, 256, 0.4)
      ),
      url(../img/desktop-large-beach-trail.jpg);
  }
  background-size: cover;
}

.row {
  display: grid;
  grid-gap: 2em;
  @media only screen and (min-width: $mobile-large) {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*********************************** 
HOW SECTION
***********************************/
.how {
  .fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }

  &__content-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    @media only screen and (min-width: $mobile-large) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (min-width: $desktop) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__content {
    text-align: center;
    opacity: 0;

    p {
      line-height: 1.6;
    }
  }

  &__content-title {
    text-transform: uppercase;
    margin: 1rem 0;
  }

  &__content-icon {
    color: $secondary-color;
  }
}

/*********************************** 
VIDEOS SECTION
***********************************/
.videos {
  &__container {
    max-width: 800px;

    .slide-right {
      transform: translateX(-50%);
      opacity: 0;
      transition: all 1s ease-in;
    }

    .slide-left {
      transform: translateX(50%);
      opacity: 0;
      transition: all 1s ease-in;
    }

    .slide-in {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  .card {
    display: block;
    @media only screen and (min-width: $mobile-large) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    grid-gap: 2rem;
    margin-bottom: 2rem;

    &:nth-child(even) {
      .card__video {
        order: 2;
      }
    }

    &__video {
      width: 100%;
      height: 200px;
      border: 8px solid $primary-color;
    }

    &__content {
      padding: 1rem;

      &--title {
        margin-bottom: 0.25em;
        color: $secondary-color;
      }
    }
  }
}

@import "buttons";
