<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/6bef260f62.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Wave Impact Capital Group</title>
  </head>
  <body>
    <nav class="nav">
      <a href="#" class="nav__logo-link">
        <img src="/img/impact-logo-small.png" alt="Wave Impact Capital Logo" />
      </a>

      <ul class="nav__list">
        <li class="nav__item">
          <a href="/" class="nav__link">
            <span class="nav__content">about</span>
            <span class="fa-stack nav__icon">
              <i class="fa fa-circle fa-stack-2x icon-background"></i>
              <i class="fas fa-info fa-stack-1x icon-link"></i>
            </span>
          </a>
        </li>
        <li class="nav__item">
          <a href="#videos" class="nav__link">
            <span class="nav__content">videos</span>
            <span class="fa-stack nav__icon">
              <i class="fa fa-circle fa-stack-2x icon-background"></i>
              <i class="fas fa-video fa-stack-1x icon-link"></i>
            </span>
          </a>
        </li>
        <li class="nav__item">
          <a href="#team" class="nav__link">
            <span class="nav__content">team</span>
            <span class="fa-stack nav__icon">
              <i class="fa fa-circle fa-stack-2x icon-background"></i>
              <i class="fas fa-users fa-stack-1x icon-link"></i>
            </span>
          </a>
        </li>
        <li class="nav__item">
          <a href="#contact" class="nav__link">
            <span class="nav__content">contact</span>
            <span class="fa-stack nav__icon">
              <i class="fa fa-circle fa-stack-2x icon-background"></i>
              <i class="fas fa-mobile-alt fa-stack-1x icon-link"></i>
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
