<%- include("partials/header") %>
<section class="showcase">
  <div class="showcase__video-container">
    <video
      class="showcase__video"
      src="sailboat.mp4"
      autoplay
      muted
      loop
    ></video>
  </div>
  <div class="showcase__content">
    <h2 class="showcase__content--title">Wave</h2>
    <h1 class="showcase__content--title showcase__content--title-large">
      impact
    </h1>
    <h2 class="showcase__content--title">Capital Group</h2>
    <h3 class="showcase__content--subtitle">Making an impact in communities</h3>
    <a href="#more" class="btn showcase__content--btn">Set Sail</a>
  </div>
</section>

<section id="more">
  <h1 class="section-title">you wish to set sail on your<span class="new-line">life adventures,</span><span class="new-line">your dreams,</span class="new-line">and help others</h1>
  <div class="container">
    <div class="col">
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
      </ul>
    </div>

    <div class="col">
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
      </ul>
    </div>
  </div>
</section>

<section id="about">
  <h1 class="section-title">we have the experience and knowledge to set you on your voyage toward financial freedom</h1>
  <div class="container">
    <img src="img/impact-logo.png" alt="Wave Impact Capital Group Logo">
    <ul>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
    </ul>
  </div>
</section>

<section id="videos">
  <h1 class="section-title">learn how we help investors embark on their dreams</h1>
  <div class="container">
    <div class="row">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/R5atnGc8p3s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus deserunt, commodi dolore fugit aut voluptatem dignissimos error tempora architecto consectetur molestiae quo quae distinctio voluptates tenetur perferendis, autem dolorem voluptas!</p>
    </div>
    <div class="row">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corrupti explicabo iste iure illum qui dolore, temporibus vel sequi ad excepturi fuga aut debitis, reiciendis consequatur assumenda magnam exercitationem doloribus?</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/szRV5Tx25oM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</section>

<section id="team">
  <h1 class="section-title">your shipmates on your journey</h1>
  <div class="container team-container">
    <div class="team-card">
      <img src="img/team/member1.png" alt="Member 1">
      <div class="content">
        <h3>Member 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, illo.</p>
      </div>
    </div>

    <div class="team-card">
      <img src="img/team/member2.png" alt="Member 2">
      <div class="content">
        <h3>Member 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, illo.</p>
      </div>
    </div>

    <div class="team-card">
      <img src="img/team/member3.png" alt="Member 3">
      <div class="content">
        <h3>Member 3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, illo.</p>
      </div>
    </div>

    <div class="team-card">
      <img src="img/team/member4.png" alt="Member 4">
      <div class="content">
        <h3>Member 4</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, illo.</p>
      </div>
    </div>

    <div class="team-card">
      <img src="img/team/member5.png" alt="Member 5">
      <div class="content">
        <h3>Member 5</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, illo.</p>
      </div>
    </div>

    <div class="team-card">
      <img src="img/team/member6.png" alt="Member 6">
      <div class="content">
        <h3>Member 6</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, illo.</p>
      </div>
    </div>
  </div>
  
</section>
<%- include("partials/footer") %>
