<%- include("partials/header") %>
<section class="showcase">
  <div class="showcase__video-container">
    <video
      class="showcase__video"
      src="sailboat.mp4"
      autoplay
      muted
      loop
    ></video>
  </div>
  <div class="showcase__content">
    <h2 class="showcase__content--title">Wave</h2>
    <h1 class="showcase__content--title showcase__content--title-large">
      impact
    </h1>
    <h2 class="showcase__content--title">Capital Group</h2>
    <h3 class="showcase__content--subtitle">Making an impact in communities</h3>
    <a href="#more" class="btn showcase__content--btn">Set Sail</a>
  </div>
</section>

<section id="more" class="more">
    <h1 class="section-title">you wish to set sail on your<span class="new-line">life adventures,</span><span class="new-line">your dreams,</span class="new-line">and help others</h1>
      <div class="container row">
        <div class="col">
          <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
          </ul>
        </div>
    
        <div class="col">
          <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
          </ul>
        </div>
      </div>
</section>

<!-- <section id="about">
  <h1 class="section-title">we have the experience and knowledge to set you on your voyage toward financial freedom</h1>
  <div class="container">
    <img src="img/impact-logo.png" alt="Wave Impact Capital Group Logo">
    <ul>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
    </ul>
  </div>
</section> -->
<%- include("partials/footer") %>
