<%- include("partials/header") %>
<section class="showcase">
  <div class="showcase__video-container">
    <video
      class="showcase__video"
      src="sailboat.mp4"
      autoplay
      muted
      loop
      playsinline
    ></video>
  </div>
  <div class="showcase__content">
    <h2 class="showcase__content--title">Wave</h2>
    <h1 class="showcase__content--title showcase__content--title-large">
      impact
    </h1>
    <h2 class="showcase__content--title">Capital Group</h2>
    <h3 class="showcase__content--subtitle">
      Investing in Apartment Real Estate
    </h3>
  </div>
</section>

<section id="more" class="more">
  <h1 class="section-title">Do you want financial freedom?</h1>
  <div class="container row">
    <div class="col">
      <p>
        Many people, even those who appear well off, worry about their financial
        future. How we think about, earn, spend, save, invest, and feel when it
        comes to money is often hardwired into us before we reach adulthood.
        Through education and a focused shift in your ideas and handling of
        money, you can learn and mirror what the top 1% know and do to reach
        financial freedom.
      </p>
    </div>

    <div class="col">
      <p>
        Wave Impact Capital Group's goal is to be a resource to as many people
        as possible on their journey to financial freedom. We strive to provide
        valuable information on the mindset and practices of the wealthy. Then,
        when you are ready, we offer investing opportunities practiced by the
        wealthy that can bring you financial freedom.
      </p>
    </div>
  </div>

  <div class="freebie">
    <a href="/contact" class="btn">instant access</a>
  </div>
</section>

<section class="language section-top">
  <h1 class="section-title">learn the language</h1>
  <div class="container">
    <p>
      The world of the wealthy contains words you may never have heard before. A
      few common ters you will quickly come across in the contents of this site
      are:
    </p>

    <div class="card">
      <div class="card__content">
        <div class="card__front">
          <h3 class="card__title">Passive Income</h3>
        </div>

        <div class="card__back">
          <p class="card__body">
            money that is earned without the need of your time, physical or
            mental labor to produce it
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card__content">
        <div class="card__front">
          <h3 class="card__title">Passive Investing</h3>
        </div>

        <div class="card__back">
          <p class="card__body">
            Placing money in an investment that contains low (or no) fees, high
            returns, and, most importantly, consistent cash flow, or passive
            income
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card__content">
        <div class="card__front">
          <h3 class="card__title">Multifamily</h3>
        </div>

        <div class="card__back">
          <p class="card__body">
            A housing complex that holds 5 or more units, also known as
            apartment
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card__content">
        <div class="card__front">
          <h3 class="card__title">Multifamily Syndication, Syndication</h3>
        </div>

        <div class="card__back">
          <p class="card__body">
            To join together with other like minded investors to purchase a
            multifamily asset that would be unobtainable on one's own
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card__content">
        <div class="card__front">
          <h3 class="card__title">Asset</h3>
        </div>

        <div class="card__back">
          <p class="card__body">
            An investment that generates cash flow, the term used to refer to
            each individual multifamily complex
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="how section-top">
  <h1 class="section-title">how it works</h1>
  <div class="container how__content-container">
    <div class="how__content fade-in">
      <i class="fas fa-hands-helping fa-2x how__content-icon"></i>
      <h3 class="how__content-title">we buy</h3>
      <p>
        Wave Impact finds the property and negotiates the purchase and
        financing.
      </p>
    </div>

    <div class="how__content fade-in">
      <i class="fas fa-hand-holding-usd fa-2x how__content-icon"></i>
      <h3 class="how__content-title">you invest</h3>
      <p>Accredited investors become partners in a specific property.</p>
    </div>

    <div class="how__content fade-in">
      <i class="fas fa-cogs fa-2x how__content-icon"></i>
      <h3 class="how__content-title">we collect rents</h3>
      <p>The property you invested in generates rental income from tennants.</p>
    </div>

    <div class="how__content fade-in">
      <i class="fas fa-dollar-sign fa-2x how__content-icon"></i>
      <h3 class="how__content-title">you earn money</h3>
      <p>We pay out cash distributions quartely to you, the investor.</p>
    </div>
  </div>
</section>

<section id="videos" class="videos section-top">
  <h1 class="section-title">
    learn how we help investors embark on their dreams
  </h1>
  <div class="container videos__container">
    <div class="card slide-right">
      <iframe
        class="card__video"
        src="https://www.youtube.com/embed/R5atnGc8p3s"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <div class="card__content">
        <h3 class="secondary-title">Our Company</h3>
        <p class="card__content--description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          animi! Accusamus soluta debitis necessitatibus animi enim ab voluptas
          rerum aliquid.
        </p>
      </div>
    </div>

    <div class="card slide-left">
      <iframe
        class="card__video"
        src="https://www.youtube.com/embed/R5atnGc8p3s"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <div class="card__content">
        <h3 class="secondary-title">Why Invest in Apartments</h3>
        <p class="card__content--description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          animi! Accusamus soluta debitis necessitatibus animi enim ab voluptas
          rerum aliquid.
        </p>
      </div>
    </div>

    <div class="card slide-right">
      <iframe
        class="card__video"
        src="https://www.youtube.com/embed/R5atnGc8p3s"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <div class="card__content">
        <h3 class="secondary-title">Our Criteria</h3>
        <p class="card__content--description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          animi! Accusamus soluta debitis necessitatibus animi enim ab voluptas
          rerum aliquid.
        </p>
      </div>
    </div>

    <div class="card slide-left">
      <iframe
        class="card__video"
        src="https://www.youtube.com/embed/R5atnGc8p3s"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <div class="card__content">
        <h3 class="secondary-title">Our Investing Program</h3>
        <p class="card__content--description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          animi! Accusamus soluta debitis necessitatibus animi enim ab voluptas
          rerum aliquid.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="about" class="about section-top">
  <h1 class="section-title">our vision</h1>
  <div class="container">
    <div>
      <h2>Financial freedom to investors</h2>
      <p>
        The ability for investors to have the financial means to live out their
        goals and dreams.
      </p>
    </div>

    <div>
      <h2>Beautiful homes to residence</h2>
      <p>
        Safety, improvements, sense of belonging, where individuals and families
        can create memories
      </p>
    </div>

    <div>
      <h2>Elevated well-being to communities</h2>
      <p>
        Both the improvements in the communities and investment properties are
        in and around the world with charitable deeds
      </p>
    </div>
  </div>
</section>

<section id="team" class="team section-top">
  <h1 class="section-title">the shipmates on your journey</h1>
  <div class="container team__container">
    <div class="card">
      <img
        class="card__img"
        src="https://randomuser.me/api/portraits/men/1.jpg"
        alt="Random man portrait."
      />
      <div class="card__content">
        <h3 class="secondary-title">Director</h3>
        <h5 class="card__content--subtitle">Member 1 Name</h5>
        <p class="card__content--description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          animi! Accusamus soluta debitis necessitatibus animi enim ab voluptas
          rerum aliquid.
        </p>
      </div>
    </div>

    <div class="card">
      <img
        class="card__img"
        src="https://randomuser.me/api/portraits/women/8.jpg"
        alt="Random woman portrait."
      />
      <div class="card__content">
        <h3 class="secondary-title">Account Manager, Investor Relations</h3>
        <h5 class="card__content--subtitle">Member 2 Name</h5>
        <p class="card__content--description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          animi! Accusamus soluta debitis necessitatibus animi enim ab voluptas
          rerum aliquid.
        </p>
      </div>
    </div>

    <div class="card">
      <img
        class="card__img"
        src="https://randomuser.me/api/portraits/men/4.jpg"
        alt="Random man portrait."
      />
      <div class="card__content">
        <h3 class="secondary-title">Account Manager, Broker Relations</h3>
        <h5 class="card__content--subtitle">Member 3 Name</h5>
        <p class="card__content--description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          animi! Accusamus soluta debitis necessitatibus animi enim ab voluptas
          rerum aliquid.
        </p>
      </div>
    </div>

    <div class="card">
      <img
        class="card__img"
        src="https://randomuser.me/api/portraits/women/2.jpg"
        alt="Random woman portrait."
      />
      <div class="card__content">
        <h3 class="secondary-title">Acquisitions Manager</h3>
        <h5 class="card__content--subtitle">Member 4 Name</h5>
        <p class="card__content--description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          animi! Accusamus soluta debitis necessitatibus animi enim ab voluptas
          rerum aliquid.
        </p>
      </div>
    </div>

    <div class="card">
      <img
        class="card__img"
        src="https://randomuser.me/api/portraits/men/7.jpg"
        alt="Random man portrait."
      />
      <div class="card__content">
        <h3 class="secondary-title">Asset Manager</h3>
        <h5 class="card__content--subtitle">Member 5 Name</h5>
        <p class="card__content--description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          animi! Accusamus soluta debitis necessitatibus animi enim ab voluptas
          rerum aliquid.
        </p>
      </div>
    </div>

    <div class="card">
      <img
        class="card__img"
        src="https://randomuser.me/api/portraits/women/3.jpg"
        alt="Random woman portrait."
      />
      <div class="card__content">
        <h3 class="secondary-title">Marketing Manager</h3>
        <h5 class="card__content--subtitle">Member 6 Name</h5>
        <p class="card__content--description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          animi! Accusamus soluta debitis necessitatibus animi enim ab voluptas
          rerum aliquid.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="contact">
  <h1 class="section-title">contact us</h1>
  <div class="container">
    <div class="contact__primary">
      <h3 class="secondary-title">Would you like to...</h3>
      <ul>
        <li class="contact__primary--item fade-in">
          learn how you can invest in apartments to make residual income?
        </li>
        <li class="contact__primary--item fade-in">
          learn more about amore stable investment than the stock market?
        </li>
        <li class="contact__primary--item fade-in">
          help communities grow and prosper, giving people great place to live?
        </li>
      </ul>
    </div>

    <a href="/contact" class="btn contact__btn">learn more</a>

    <div class="contact__secondary">
      <h3 class="secondary-title">Contact Us Today!</h3>
      <div class="contact__secondary--icons">
        <a href="tel:+12483209095">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x icon-background"></i>
            <i class="fas fa-phone fa-stack-1x icon-link"></i>
          </span>
        </a>
        <a href="mailto:schanerrealestate@gmail.com">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x icon-background"></i>
            <i class="fas fa-envelope fa-stack-1x icon-link"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
<%- include("partials/footer") %>
