<%- include("partials/header") %>
<section class="showcase">
  <div class="showcase__video-container">
    <video
      class="showcase__video"
      src="sailboat.mp4"
      autoplay
      muted
      loop
    ></video>
  </div>
  <div class="showcase__content">
    <h2 class="showcase__content--title">Wave</h2>
    <h1 class="showcase__content--title showcase__content--title-large">
      impact
    </h1>
    <h2 class="showcase__content--title">Capital Group</h2>
    <h3 class="showcase__content--subtitle">Making an impact in communities</h3>
    <a href="#more" class="btn showcase__content--btn">Set Sail</a>
  </div>
</section>

<section id="more" class="more">
    <h1 class="section-title">you wish to set sail on your<span class="new-line">life adventures,</span><span class="new-line">your dreams,</span class="new-line">and help others</h1>
      <div class="container row">
        <div class="col">
          <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
          </ul>
        </div>
    
        <div class="col">
          <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla.</li>
          </ul>
        </div>
      </div>
</section>

<section class="how section-top">
  <h1 class="section-title">how it works</h1>
  <div class="container how__content-container">
    <div class="how__content fade-in">
      <i class="fas fa-hands-helping fa-2x how__content-icon"></i>
      <h3 class="how__content-title">we buy</h3>
      <p>Wave Impact finds the property and negotiates the purchase and financing.</p>
    </div>

    <div class="how__content fade-in">
      <i class="fas fa-hand-holding-usd fa-2x how__content-icon"></i>
      <h3 class="how__content-title">you invest</h3>
      <p>Accredited investors become partners in a specific property.</p>
    </div>

    <div class="how__content fade-in">
      <i class="fas fa-cogs fa-2x how__content-icon"></i>
      <h3 class="how__content-title">we collect rents</h3>
      <p>The property you invested in generates rental income from tennants.</p>
    </div>

    <div class="how__content fade-in">
      <i class="fas fa-dollar-sign fa-2x how__content-icon"></i>
      <h3 class="how__content-title">you earn money</h3>
      <p>We pay out cash distributions quartely to you, the investor.</p>
    </div>
  </div>
</section>

<section id="videos" class="videos section-top">
  <h1 class="section-title">learn how we help investors embark on their dreams</h1>
  <div class="container videos__container">
    <div class="card slide-right">
      <iframe class="card__video" src="https://www.youtube.com/embed/R5atnGc8p3s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card__content">
        <h3 class="card__content--title">Our Company</h3>
        <p class="card__content--description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, animi! Accusamus soluta debitis necessitatibus animi enim ab voluptas rerum aliquid.</p>
      </div>
    </div>

    <div class="card slide-left">
      <iframe class="card__video" src="https://www.youtube.com/embed/R5atnGc8p3s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card__content">
        <h3 class="card__content--title">Why Invest in Apartments</h3>
        <p class="card__content--description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, animi! Accusamus soluta debitis necessitatibus animi enim ab voluptas rerum aliquid.</p>
      </div>
    </div>

    <div class="card slide-right">
      <iframe class="card__video" src="https://www.youtube.com/embed/R5atnGc8p3s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card__content">
        <h3 class="card__content--title">Our Criteria</h3>
        <p class="card__content--description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, animi! Accusamus soluta debitis necessitatibus animi enim ab voluptas rerum aliquid.</p>
      </div>
    </div>

    <div class="card slide-left">
      <iframe class="card__video"  src="https://www.youtube.com/embed/R5atnGc8p3s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="card__content">
        <h3 class="card__content--title">Our Investing Program</h3>
        <p class="card__content--description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, animi! Accusamus soluta debitis necessitatibus animi enim ab voluptas rerum aliquid.</p>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <h1 class="section-title">we have the experience and knowledge to set you on your voyage toward financial freedom</h1>
  <div class="container">
    <img src="img/impact-logo.png" alt="Wave Impact Capital Group Logo">
    <ul>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure?</li>
    </ul>
  </div>
</section>
<%- include("partials/footer") %>
