@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:500,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto Slab", serif;
  color: #233d89;
  background: #f8f1c9; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #233d89; }

img {
  max-width: 100%; }

/* Utilities */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
  overflow: hidden; }

.background {
  background-color: #fff;
  padding: 2.25em;
  border-radius: 0.5em;
  max-width: fit-content;
  margin: 2em auto;
  border: 3px solid #6d9eeb; }

.section-top {
  margin-top: 4rem; }

.section-title {
  color: #233d89;
  text-transform: uppercase;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  max-width: 80%;
  margin: auto;
  padding: 2em 0; }

.secondary-title {
  margin-bottom: 0.25em;
  color: #6d9eeb; }

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in; }

.card {
  display: block;
  grid-gap: 0.5rem;
  margin-bottom: 3rem; }
  .card__content {
    padding: 1rem; }

.input-group {
  position: relative; }
  .input-group + .input-group {
    margin-top: 1.5em; }
  .input-group__styles {
    display: block;
    margin: 0;
    padding: 0 1em;
    background-color: #f3fafd;
    border: 2px solid #6d9eeb;
    border-radius: 4px;
    -webkit-appearance: none;
    height: 2em;
    color: #6d9eeb;
    font-size: 1em;
    font-family: inherit;
    transition: box-shadow 0.2s linear, border-color 0.25s ease-out; }
    .input-group__styles:-webkit-autofill {
      -webkit-text-fill-color: #6d9eeb; }
    .input-group__styles:focus {
      outline: none;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      border: 2px solid #233d89; }
      .input-group__styles:focus + span {
        transform: translateY(-100%);
        opacity: 1; }
    .input-group__styles:valid + span {
      transform: translateY(-100%); }
  .input-group__placeholder {
    position: absolute;
    top: 0;
    left: 1.1em;
    color: #6d9eeb;
    transform: translateY(25%);
    opacity: 0.5;
    transition: 0.2s linear; }

/*********************************** 
NAV
***********************************/
header {
  background: rgba(109, 158, 235, 0.7);
  padding: 0 0.3em;
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    header {
      top: 0;
      height: 2em; } }
  header .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%; }
    header .nav-container .logo {
      width: 36px;
      padding-top: 0.3em; }
      @media only screen and (min-width: 768px) {
        header .nav-container .logo {
          width: 25px; } }
    header .nav-container .nav {
      display: flex; }
      header .nav-container .nav .nav__list {
        display: flex;
        align-items: center; }
      header .nav-container .nav .nav__link {
        color: #f8f1c9; }
        header .nav-container .nav .nav__link .nav__content {
          display: none; }
          @media only screen and (min-width: 768px) {
            header .nav-container .nav .nav__link .nav__content {
              display: inline; } }
          header .nav-container .nav .nav__link .nav__content:hover {
            color: #233d89; }
        header .nav-container .nav .nav__link .nav__icon {
          font-size: 0.9em; }
          @media only screen and (min-width: 768px) {
            header .nav-container .nav .nav__link .nav__icon {
              display: none; } }
          header .nav-container .nav .nav__link .nav__icon .icon-background {
            color: #f8f1c9; }
          header .nav-container .nav .nav__link .nav__icon .icon-link {
            color: #233d89; }
      header .nav-container .nav .nav__item + .nav__item {
        margin-left: 0.625em; }

/*********************************** 
SHOWCASE SECTION
***********************************/
.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 0 20px;
  color: var(--tan-color); }
  .showcase__content {
    margin-top: 13vh;
    color: #f8f1c9;
    z-index: 1; }
    .showcase__content--title {
      font-size: 3em; }
      .showcase__content--title-large {
        font-size: 4em; }
    .showcase__content--subtitle {
      margin-top: 1rem;
      color: #233d89; }
    .showcase__content--btn {
      display: inline-block;
      margin-top: 2em; }
  .showcase__video-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--tan-color); }
    .showcase__video-container::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3); }
  .showcase__video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/*********************************** 
MORE SECTION
***********************************/
.more {
  position: relative; }
  .more p + p {
    margin-top: 1.5rem; }
  .more p {
    font-size: 0.85rem;
    line-height: 1.5; }
    @media only screen and (min-width: 360px) {
      .more p {
        font-size: 0.95rem; } }
    @media only screen and (min-width: 480px) {
      .more p {
        font-size: 1.25rem; } }
    @media only screen and (min-width: 640px) {
      .more p {
        font-size: 1.4rem; } }
  .more .freebie {
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background: #233d89; }
    .more .freebie a {
      align-self: center; }

.more {
  height: 700px;
  padding-bottom: 3rem;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7)), url(../img/mobile-beach-trail.jpg);
  background-size: cover; }
  @media only screen and (min-width: 640px) {
    .more {
      background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7)), url(../img/mobile-large-beach-trail.jpg); } }
  @media only screen and (min-width: 768px) {
    .more {
      background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7)), url(../img/beach-trail.jpg); } }
  @media only screen and (min-width: 960px) {
    .more {
      background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7)), url(../img/deskop-beach-trail.jpg); } }
  @media only screen and (min-width: 1400px) {
    .more {
      background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7)), url(../img/desktop-large-beach-trail.jpg); } }

/*********************************** 
LANGUAGE SECTION
***********************************/
.language .container .secondary-title {
  margin-top: 2rem; }

.terms-container {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-gap: 2rem;
  margin-top: 1rem; }
  @media only screen and (min-width: 640px) {
    .terms-container {
      grid-template-columns: repeat(2, 1fr); }
      .terms-container .term-3 {
        padding-top: 1.55rem; } }
  @media only screen and (min-width: 786px) {
    .terms-container .term-4 {
      padding-top: 1.55rem; } }
  @media only screen and (min-width: 960px) {
    .terms-container {
      grid-template-columns: repeat(3, 1fr); }
      .terms-container .term-3 {
        padding-top: 0; }
      .terms-container .term-4 {
        padding-top: 0; }
      .terms-container .term-5 {
        padding-top: 1.55rem; } }
  .terms-container .term__title {
    margin-bottom: 0.5rem;
    padding-bottom: 0.25rem;
    border-bottom: 3px solid #6d9eeb; }

/*********************************** 
HOW SECTION
***********************************/
.how__content-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem; }
  @media only screen and (min-width: 640px) {
    .how__content-container {
      grid-template-columns: repeat(4, 1fr); } }
.how__content {
  display: grid;
  grid-template-rows: 0.75fr 1fr 2fr;
  text-align: center;
  opacity: 0; }
  .how__content p {
    line-height: 1.6; }
.how__content-title {
  text-transform: uppercase; }
.how__content-icon {
  padding-bottom: 1rem;
  color: #6d9eeb; }

/*********************************** 
VIDEOS SECTION
***********************************/
.videos__container {
  max-width: 800px; }
  .videos__container .slide-right {
    transform: translateX(-50%);
    opacity: 0;
    transition: all 1s ease-in; }
  .videos__container .slide-left {
    transform: translateX(50%);
    opacity: 0;
    transition: all 1s ease-in; }
  .videos__container .slide-in {
    transform: translateX(0%);
    opacity: 1; }
@media only screen and (min-width: 640px) {
  .videos .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }
.videos .card:nth-child(even) .card__video {
  order: 2; }
.videos .card:nth-child(even) .card__content {
  padding: 1em 2em; }
.videos .card:nth-child(odd) .card__content {
  padding: 1em 2em; }
.videos .card__video {
  width: 100%;
  height: 200px;
  filter: drop-shadow(0.75em 0.75em 0.5em); }
.videos .card__content--description img {
  width: 25%;
  margin: 1rem 0 0 6rem; }
.videos .card__content--description li {
  margin-left: 1rem;
  list-style-type: disc; }

/*********************************** 
ABOUT SECTION
***********************************/
.about .container div {
  text-align: center;
  margin-bottom: 2rem; }

/*********************************** 
TEAM SECTION
***********************************/
@media only screen and (min-width: 768px) {
  .team__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }
@media only screen and (min-width: 768px) {
  .team__container .card {
    display: grid;
    grid-template-columns: 1fr 2fr; } }
.team__container .card__img {
  display: block;
  margin: 0 auto;
  border-radius: 10px; }
  @media only screen and (min-width: 640px) {
    .team__container .card__img {
      align-self: center; } }
.team__container .card__content--title {
  margin-bottom: 0; }
.team__container .card__content--subtitle {
  position: relative; }
.team__container .card__content--subtitle::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0px;
  width: 100px;
  height: 2px;
  background-color: #6d9eeb; }
.team__container .card__content--description {
  margin-top: 1em; }
  .team__container .card__content--description a {
    color: #6d9eeb; }

/*********************************** 
CONTACT SECTION
***********************************/
.contact {
  height: 700px;
  padding-bottom: 3rem;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../img/mobile-beach-trail.jpg);
  background-size: cover; }
  @media only screen and (min-width: 640px) {
    .contact {
      background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../img/mobile-large-beach-trail.jpg); } }
  @media only screen and (min-width: 768px) {
    .contact {
      background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../img/beach-trail.jpg); } }
  @media only screen and (min-width: 960px) {
    .contact {
      background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../img/deskop-beach-trail.jpg); } }
  @media only screen and (min-width: 1400px) {
    .contact {
      background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../img/desktop-large-beach-trail.jpg); } }
  .contact .container {
    max-width: 800px;
    display: flex;
    flex-direction: column; }
  .contact__primary {
    align-self: center; }
  .contact__btn {
    margin: 1rem 0;
    width: fit-content;
    align-self: center; }
  .contact__secondary {
    text-align: center; }
    .contact__secondary .secondary-title {
      background: rgba(248, 241, 201, 0.7);
      padding: 2px 5px;
      border-radius: 25px;
      display: inline-block; }
    .contact__secondary--icons .icon-background {
      color: #6d9eeb; }

/*********************************** 
CONTACT PAGE
***********************************/
.container-contact {
  text-align: center; }
  .container-contact .contact-video {
    display: block;
    margin: 0 auto; }
  .container-contact .joining-btn {
    margin-bottom: 2em; }
  .container-contact .contact-btn {
    display: inline-block;
    margin: 2em auto; }
    @media only screen and (min-width: 640px) {
      .container-contact .contact-btn {
        margin-top: 1.5em; } }
  .container-contact .contact-form {
    background-color: #fff;
    padding: 2.25em;
    border-radius: 0.5em;
    max-width: fit-content;
    margin: 2em auto;
    border: 1px solid #ddd;
    display: none; }
    .container-contact .contact-form__logo {
      width: 40%; }
      @media only screen and (min-width: 640px) {
        .container-contact .contact-form__logo {
          width: 20%; } }
    .container-contact .contact-form .input-group__styles {
      width: 100%; }
    .container-contact .contact-form__questions {
      margin-top: 1.5em; }
      @media only screen and (min-width: 640px) {
        .container-contact .contact-form__questions {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 2em; } }
      @media only screen and (min-width: 640px) {
        .container-contact .contact-form__questions .personal-info__name {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 0.5em; } }
      @media only screen and (min-width: 640px) {
        .container-contact .contact-form__questions .personal-info__name :last-child {
          margin-top: 0; } }
      .container-contact .contact-form__questions .yes-no {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 1.5em 0; }
        @media only screen and (min-width: 640px) {
          .container-contact .contact-form__questions .yes-no {
            margin: 0 auto; } }
        .container-contact .contact-form__questions .yes-no label {
          cursor: pointer; }
          .container-contact .contact-form__questions .yes-no label + label {
            margin-top: 1.5rem; }
          .container-contact .contact-form__questions .yes-no label .icon::before {
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-right: 5px; }
          .container-contact .contact-form__questions .yes-no label input[type="checkbox"] {
            display: none; }
            .container-contact .contact-form__questions .yes-no label input[type="checkbox"] + .label-text::before {
              content: "\f0c8";
              color: #6d9eeb;
              font-size: 1.6em; }
            .container-contact .contact-form__questions .yes-no label input[type="checkbox"]:checked + .label-text::before {
              content: "\f14a";
              animation: tick 180ms ease-in; }
          .container-contact .contact-form__questions .yes-no label .label-text-long {
            display: flex; }

.contact-success__logo {
  display: block;
  margin: auto;
  width: 40%; }
  @media only screen and (min-width: 640px) {
    .contact-success__logo {
      width: 20%; } }
.contact-success .section-title {
  font-size: 1.2em; }
  .contact-success .section-title .success-large {
    font-size: 2em;
    display: block; }
.contact-success__btn {
  display: block;
  width: fit-content;
  margin: 1em auto; }

.btn {
  padding: 10px 30px;
  background: #6d9eeb;
  color: #f8f1c9;
  border: 1px #6d9eeb solid;
  border-radius: 25px;
  opacity: 0.7;
  text-transform: uppercase; }
  .btn:hover {
    transform: scale(0.98);
    cursor: pointer; }

@-webkit-keyframes tick {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  90% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes tick {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  90% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/*# sourceMappingURL=style.css.map */
