@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:500,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto Slab", serif;
  color: #233d89;
  background: #f8f1c9; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.section-top {
  margin-top: 4rem; }

.section-title {
  color: #233d89;
  text-transform: uppercase;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  max-width: 80%;
  margin: auto;
  padding: 2em 0; }
  .section-title .new-line {
    display: block; }

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden; }

/*********************************** 
NAV
***********************************/
.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  padding: 0.3em;
  background: rgba(109, 158, 235, 0.7); }
  @media only screen and (min-width: 768px) {
    .nav {
      top: 0;
      height: 2.5em; } }
  .nav__logo-link {
    display: flex;
    width: 30px; }
  .nav .nav__list {
    display: flex;
    align-items: center; }
    .nav .nav__list .nav__item + .nav__item {
      margin-left: 0.625em; }
    .nav .nav__list .nav__link {
      color: #f8f1c9; }
      .nav .nav__list .nav__link .nav__content {
        display: none; }
        @media only screen and (min-width: 768px) {
          .nav .nav__list .nav__link .nav__content {
            display: inline; } }
      .nav .nav__list .nav__link .nav__icon {
        font-size: 0.9em; }
        @media only screen and (min-width: 768px) {
          .nav .nav__list .nav__link .nav__icon {
            display: none; } }
        .nav .nav__list .nav__link .nav__icon .icon-background {
          color: #f8f1c9; }
        .nav .nav__list .nav__link .nav__icon .icon-link {
          color: #233d89; }

/*********************************** 
SHOWCASE SECTION
***********************************/
.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 0 20px;
  color: var(--tan-color); }
  .showcase__content {
    z-index: 1; }
    .showcase__content--title {
      color: #f8f1c9; }
      .showcase__content--title-large {
        font-size: 4em; }
    .showcase__content--subtitle {
      color: #6d9eeb; }
    .showcase__content--btn {
      display: inline-block;
      margin-top: 2em; }
  .showcase__video-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--tan-color); }
    .showcase__video-container::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3); }
  .showcase__video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/*********************************** 
MORE SECTION
***********************************/
.more {
  height: 700px;
  padding-bottom: 3rem;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../img/mobile-beach-trail.jpg);
  background-size: cover; }
  @media only screen and (min-width: 640px) {
    .more {
      background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../img/mobile-large-beach-trail.jpg); } }
  @media only screen and (min-width: 768px) {
    .more {
      background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../img/beach-trail.jpg); } }
  @media only screen and (min-width: 960px) {
    .more {
      background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../img/deskop-beach-trail.jpg); } }
  @media only screen and (min-width: 1400px) {
    .more {
      background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../img/desktop-large-beach-trail.jpg); } }

.row {
  display: grid;
  grid-gap: 2em; }
  @media only screen and (min-width: 640px) {
    .row {
      grid-template-columns: repeat(2, 1fr); } }

/*********************************** 
HOW SECTION
***********************************/
.how .fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in; }
.how__content-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem; }
  @media only screen and (min-width: 640px) {
    .how__content-container {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (min-width: 960px) {
    .how__content-container {
      grid-template-columns: repeat(4, 1fr); } }
.how__content {
  text-align: center;
  opacity: 0; }
  .how__content p {
    line-height: 1.6; }
.how__content-title {
  text-transform: uppercase;
  margin: 1rem 0; }
.how__content-icon {
  color: #6d9eeb; }

/*********************************** 
VIDEOS SECTION
***********************************/
.videos__container {
  max-width: 800px; }
  .videos__container .slide-right {
    transform: translateX(-50%);
    opacity: 0;
    transition: all 1s ease-in; }
  .videos__container .slide-left {
    transform: translateX(50%);
    opacity: 0;
    transition: all 1s ease-in; }
  .videos__container .slide-in {
    transform: translateX(0%);
    opacity: 1; }
.videos .card {
  display: block;
  grid-gap: 2rem;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 640px) {
    .videos .card {
      display: grid;
      grid-template-columns: repeat(2, 1fr); } }
  .videos .card:nth-child(even) .card__video {
    order: 2; }
  .videos .card__video {
    width: 100%;
    height: 200px;
    border: 8px solid #233d89; }
  .videos .card__content {
    padding: 1rem; }
    .videos .card__content--title {
      margin-bottom: 0.25em;
      color: #6d9eeb; }

.btn {
  padding: 10px 30px;
  background: #6d9eeb;
  color: #f8f1c9;
  border: 1px #6d9eeb solid;
  border-radius: 25px;
  opacity: 0.7;
  text-transform: uppercase; }
  .btn:hover {
    transform: scale(0.98); }

/*# sourceMappingURL=style.css.map */
